description = "Heroku-20 (Ubuntu 20.04) base image with buildpacks for Go, Java, Node.js, PHP, Python, Ruby & Scala."

[stack]
id = "heroku-20"
build-image = "heroku/heroku:20-cnb-build"
run-image = "heroku/heroku:20-cnb"

[lifecycle]
version = "0.18.2"

[[buildpacks]]
  id = "heroku/go"
  uri = "docker://docker.io/heroku/buildpack-go@sha256:f85f305d0a8a4c5bab8083897a9b530d99dcfceeba2705c858788a1b16343a18"

[[buildpacks]]
  id = "heroku/java"
  uri = "docker://docker.io/heroku/buildpack-java@sha256:7215ec11a198f04da57355043ef9e61a5af699fb96c8a320e22df1832ba275b4"

[[buildpacks]]
  id = "heroku/nodejs"
  uri = "docker://docker.io/heroku/buildpack-nodejs@sha256:fc6bfbf639d6051a8b37932ae61a793906504228d1a86a1561ceb3433a1c0af3"

[[buildpacks]]
  id = "heroku/php"
  uri = "docker://docker.io/heroku/buildpack-php@sha256:9d76792ba9869eb96ba3b41b0bfb48c6adfaa58a361bba6083505c84c5a8d61e"

[[buildpacks]]
  id = "heroku/procfile"
  uri = "docker://docker.io/heroku/procfile-cnb@sha256:2549eee29b64c5dc063a3966c65baf1f264389645f54d416a320aa9e20b09592"

[[buildpacks]]
  id = "heroku/python"
  uri = "docker://docker.io/heroku/buildpack-python@sha256:5785d433616f0b72d7ceb576896d5e288fe59b7271169fa09feee3d0cd448444"

[[buildpacks]]
  id = "heroku/ruby"
  uri = "docker://docker.io/heroku/buildpack-ruby@sha256:b82d0a0d59dd97615fe082e4e31c3af25790dd88a0c5c6b8d553504f6b22526b"

[[buildpacks]]
  id = "heroku/scala"
  uri = "docker://docker.io/heroku/buildpack-scala@sha256:f5c6608a0f81058872eabe4d4829e80650d7388a59b6c3bf866d38ab7111eabe"

[[order]]
  [[order.group]]
    id = "heroku/python"
    version = "0.8.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/nodejs-engine"
    version = "2.6.1"
    optional = true
  [[order.group]]
    id = "heroku/nodejs-yarn"
    version = "2.6.1"
    optional = true
  [[order.group]]
    id = "heroku/jvm"
    version = "4.0.2"
    optional = true
  [[order.group]]
    id = "heroku/ruby"
    version = "2.1.2"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/nodejs"
    version = "2.6.1"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/java"
    version = "4.0.2"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/scala"
    version = "4.0.2"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/go"
    version = "0.1.12"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/php"
    version = "0.1.2"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true
