description = "Base builder for Heroku-20 stack, based on ubuntu:20.04 base image"

[stack]
id = "heroku-20"
build-image = "heroku/heroku:20-cnb-build"
run-image = "heroku/heroku:20-cnb"

[lifecycle]
version = "0.18.2"

[[buildpacks]]
  id = "heroku/go"
  uri = "docker://docker.io/heroku/buildpack-go@sha256:f85f305d0a8a4c5bab8083897a9b530d99dcfceeba2705c858788a1b16343a18"

[[buildpacks]]
  id = "heroku/java"
  uri = "docker://docker.io/heroku/buildpack-java@sha256:afaf284205f547c4453968f9872b5d44d94154680d4799648816681597b742f3"

[[buildpacks]]
  id = "heroku/nodejs"
  uri = "docker://docker.io/heroku/buildpack-nodejs@sha256:6d89fd44de926063537a0628c623bf27838af0bc0cc31d9ac017d2e81a67144c"

[[buildpacks]]
  id = "heroku/php"
  uri = "docker://docker.io/heroku/buildpack-php@sha256:9d76792ba9869eb96ba3b41b0bfb48c6adfaa58a361bba6083505c84c5a8d61e"

[[buildpacks]]
  id = "heroku/procfile"
  uri = "docker://docker.io/heroku/procfile-cnb@sha256:2549eee29b64c5dc063a3966c65baf1f264389645f54d416a320aa9e20b09592"

[[buildpacks]]
  id = "heroku/python"
  uri = "docker://docker.io/heroku/buildpack-python@sha256:b99ea12d35565b750ed422b606526158fde6888514eb35a364e332f5a46b82be"

[[buildpacks]]
  id = "heroku/ruby"
  uri = "docker://docker.io/heroku/buildpack-ruby@sha256:b82d0a0d59dd97615fe082e4e31c3af25790dd88a0c5c6b8d553504f6b22526b"

[[buildpacks]]
  id = "heroku/scala"
  uri = "docker://docker.io/heroku/buildpack-scala@sha256:5ae9a74a8117d559f9b71d7c0b783fa23db8936bc8ffd3b4dccf02fc6ed1fa06"

[[order]]
  [[order.group]]
    id = "heroku/python"
    version = "0.7.3"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/nodejs-engine"
    version = "2.3.0"
    optional = true
  [[order.group]]
    id = "heroku/nodejs-yarn"
    version = "2.3.0"
    optional = true
  [[order.group]]
    id = "heroku/jvm"
    version = "4.0.0"
    optional = true
  [[order.group]]
    id = "heroku/ruby"
    version = "2.1.2"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/nodejs"
    version = "2.3.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/java"
    version = "4.0.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/scala"
    version = "4.0.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/go"
    version = "0.1.12"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/php"
    version = "0.1.2"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true
