description = "Ubuntu 24.04 AMD64+ARM64 base image with buildpacks for .NET, Go, Java, Node.js, PHP, Python, Ruby, Scala, & front-end websites."

[stack]
id = "heroku-24"
build-image = "docker.io/heroku/heroku:24-build"
run-image = "docker.io/heroku/heroku:24"
run-image-mirrors = ["public.ecr.aws/heroku/heroku:24"]

[lifecycle]
version = "0.21.1"

[build]
image = "docker.io/heroku/heroku:24-build"

[run]
[[run.images]]
image = "docker.io/heroku/heroku:24"
mirrors = ["public.ecr.aws/heroku/heroku:24"]

[[buildpacks]]
  id = "heroku/deb-packages"
  uri = "docker://docker.io/heroku/buildpack-deb-packages@sha256:39167ecaee643641421d632b35998add6dc8ac08f49a39fc0f1063ad317fad82"

[[buildpacks]]
  id = "heroku/dotnet"
  uri = "docker://docker.io/heroku/buildpack-dotnet@sha256:c99bb1556a333b633097eb9e080f6cb59918ff00fb6658b54395bc658f3aa69d"

[[buildpacks]]
  id = "heroku/go"
  uri = "docker://docker.io/heroku/buildpack-go@sha256:ded434c11f08abca6ec9de51ba66ed3c99771016a876133271ffda31fd2fe8b7"

[[buildpacks]]
  id = "heroku/java"
  uri = "docker://docker.io/heroku/buildpack-java@sha256:1d05ed5f11eaf6776988b854c61f6ac6f6c34b4cf461ea2a5e71ceb28f198dbb"

[[buildpacks]]
  id = "heroku/nodejs"
  uri = "docker://docker.io/heroku/buildpack-nodejs@sha256:41d5c88d8605a84f9ae464c869d40705b6d5cb1b5ea83702ce05a8def41cc5c2"

[[buildpacks]]
  id = "heroku/php"
  uri = "docker://docker.io/heroku/buildpack-php@sha256:bc2ec8207f25d8f69aa9555b1eb5fb043ffc5ab3f5d7f3ee67dcb674da69ca0b"

[[buildpacks]]
  id = "heroku/procfile"
  uri = "docker://docker.io/heroku/buildpack-procfile@sha256:6ace71a217485b2932c8e4a311a502b68fde1a3c81e23576e29a9a1dba9a489a"

[[buildpacks]]
  id = "heroku/python"
  uri = "docker://docker.io/heroku/buildpack-python@sha256:e40c9c5c9c7ae2a28cf3b2d24e26a95d47da40e813bcda781d2c482c8b530a66"

[[buildpacks]]
  id = "heroku/ruby"
  uri = "docker://docker.io/heroku/buildpack-ruby@sha256:e8a0d07b5eacc5c036a8a2267251e5de53cbb7d431d2d3d15194e1d80b722b24"

[[buildpacks]]
  id = "heroku/scala"
  uri = "docker://docker.io/heroku/buildpack-scala@sha256:0d25c94222de9f64de1a43b5c9ee7645c82dec7b4d8620f6e45294d345a3b3cd"

[[buildpacks]]
  id = "heroku/static-web-server"
  uri = "docker://docker.io/heroku/buildpack-static-web-server@sha256:5a0ec2ff08091c74b00857b30a6268f8f4184d0b6cf6a4c83e4f3ab5f1631226"

[[buildpacks]]
  id = "heroku/website-ember"
  uri = "docker://docker.io/heroku/buildpack-website-ember@sha256:5c9d9564dc87958c61c6d727c52b0e05db1c48dae9ae51a052ae7971d9a47c7b"

[[buildpacks]]
  id = "heroku/website-nextjs"
  uri = "docker://docker.io/heroku/buildpack-website-nextjs@sha256:9635de8379b65bb54adb56f048617bac1146ed296c7eb56618eccc9f18419247"

[[buildpacks]]
  id = "heroku/website-public-html"
  uri = "docker://docker.io/heroku/buildpack-website-public-html@sha256:bd175fa4091a7cd9b765597a8cdb43470a508bde20371eb7eff704c69d215201"

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/python"
    version = "5.0.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/nodejs"
    version = "5.4.3"
    optional = true
  [[order.group]]
    id = "heroku/jvm"
    version = "7.0.8"
    optional = true
  [[order.group]]
    id = "heroku/ruby"
    version = "12.2.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/java"
    version = "7.0.8"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/scala"
    version = "7.0.8"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/go"
    version = "2.1.10"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/php"
    version = "1.3.2"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/dotnet"
    version = "1.0.3"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

# For Node-based web frameworks & static site generators,
# the Front-end Web buildpacks parse package.json to detect specific dependencies.
# This group is intentionally near the end, because projects in other languages often have a package.json
[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/nodejs"
    version = "5.4.3"
  [[order.group]]
    id = "heroku/static-web-server"
    version = "3.0.0"
  [[order.group]]
    id = "heroku/website-ember"
    version = "3.0.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/nodejs"
    version = "5.4.3"
  [[order.group]]
    id = "heroku/static-web-server"
    version = "3.0.0"
  [[order.group]]
    id = "heroku/website-nextjs"
    version = "3.0.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

# This group is intentionally near the end, after the specific package.json dependency detection for Front-end Web buildpacks
[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/nodejs"
    version = "5.4.3"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

# For no-framework "vanilla" static websites,
# the Front-end Web buildpacks detects public/index.html to support framework-less websites.
# This group is intentionally at the end, because projects in other languages may include a public directory with HTML files.
[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/static-web-server"
    version = "3.0.0"
  [[order.group]]
    id = "heroku/website-public-html"
    version = "3.0.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true
