description = "Ubuntu 24.04 AMD64+ARM64 base image with buildpacks for .NET, Go, Java, Node.js, PHP, Python, Ruby & Scala."

[stack]
id = "heroku-24"
build-image = "docker.io/heroku/heroku:24-build"
run-image = "docker.io/heroku/heroku:24"
run-image-mirrors = ["public.ecr.aws/heroku/heroku:24"]

[lifecycle]
version = "0.20.20"

[build]
image = "docker.io/heroku/heroku:24-build"

[run]
[[run.images]]
image = "docker.io/heroku/heroku:24"
mirrors = ["public.ecr.aws/heroku/heroku:24"]

[[buildpacks]]
  id = "heroku/deb-packages"
  uri = "docker://docker.io/heroku/buildpack-deb-packages@sha256:39167ecaee643641421d632b35998add6dc8ac08f49a39fc0f1063ad317fad82"

[[buildpacks]]
  id = "heroku/dotnet"
  uri = "docker://docker.io/heroku/buildpack-dotnet@sha256:24e76da17bd6eb7a06c1124e9c47743e0458f69f5defeefadeaa356ba7dbca19"

[[buildpacks]]
  id = "heroku/go"
  uri = "docker://docker.io/heroku/buildpack-go@sha256:3d2ba862de5893d4fbfd59ed8c903f56df35dfcecd6dfe047a2cbf88049510e9"

[[buildpacks]]
  id = "heroku/java"
  uri = "docker://docker.io/heroku/buildpack-java@sha256:c4547a2e355bfc8bc883916d1d3bcc453ff065905ae9814b0ca9273da450e7e2"

[[buildpacks]]
  id = "heroku/nodejs"
  uri = "docker://docker.io/heroku/buildpack-nodejs@sha256:2dda96713faf198fd5a21f5da53827ee5e969c71e601755165280c9226703474"

[[buildpacks]]
  id = "heroku/php"
  uri = "docker://docker.io/heroku/buildpack-php@sha256:bc2ec8207f25d8f69aa9555b1eb5fb043ffc5ab3f5d7f3ee67dcb674da69ca0b"

[[buildpacks]]
  id = "heroku/procfile"
  uri = "docker://docker.io/heroku/buildpack-procfile@sha256:6ace71a217485b2932c8e4a311a502b68fde1a3c81e23576e29a9a1dba9a489a"

[[buildpacks]]
  id = "heroku/python"
  uri = "docker://docker.io/heroku/buildpack-python@sha256:478b8f1d83c0b33e16b42e7071d754abaeb585a58074fc26b8b83ff79529dfce"

[[buildpacks]]
  id = "heroku/ruby"
  uri = "docker://docker.io/heroku/buildpack-ruby@sha256:e8a0d07b5eacc5c036a8a2267251e5de53cbb7d431d2d3d15194e1d80b722b24"

[[buildpacks]]
  id = "heroku/scala"
  uri = "docker://docker.io/heroku/buildpack-scala@sha256:918963bbf9ae7140ed746b60ade469f5baa0c2853ffc0e30c84d6cccbfda581e"

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/python"
    version = "4.0.1"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/nodejs"
    version = "5.3.3"
    optional = true
  [[order.group]]
    id = "heroku/jvm"
    version = "7.0.7"
    optional = true
  [[order.group]]
    id = "heroku/ruby"
    version = "12.2.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/java"
    version = "7.0.7"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/scala"
    version = "7.0.7"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/go"
    version = "2.1.8"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/php"
    version = "1.3.2"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/dotnet"
    version = "1.0.1"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

# this group is intentionally at the end, because projects in other languages often have e.g. a package.json
[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.3.0"
    optional = true
  [[order.group]]
    id = "heroku/nodejs"
    version = "5.3.3"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true
