description = "Ubuntu 24.04 AMD64+ARM64 base image with buildpacks for .NET, Go, Java, Node.js, PHP, Python, Ruby & Scala."

[stack]
id = "heroku-24"
build-image = "docker.io/heroku/heroku:24-build"
run-image = "docker.io/heroku/heroku:24"
run-image-mirrors = ["public.ecr.aws/heroku/heroku:24"]

[lifecycle]
version = "0.20.19"

[build]
image = "docker.io/heroku/heroku:24-build"

[run]
[[run.images]]
image = "docker.io/heroku/heroku:24"
mirrors = ["public.ecr.aws/heroku/heroku:24"]

[[buildpacks]]
  id = "heroku/deb-packages"
  uri = "docker://docker.io/heroku/buildpack-deb-packages@sha256:7543930b6d062fbc326e913f03a06b2257c9605eda6bf469389a01fa1db881d1"

[[buildpacks]]
  id = "heroku/dotnet"
  uri = "docker://docker.io/heroku/buildpack-dotnet@sha256:ac2573e92f628aabfe4037ff729beca0bac5e97ee581bc46c2fa6781110a0316"

[[buildpacks]]
  id = "heroku/go"
  uri = "docker://docker.io/heroku/buildpack-go@sha256:17e3f42c183f7ee0588b1e746b28164b7786ac5e6a16ff2f3dafe8dc7165caab"

[[buildpacks]]
  id = "heroku/java"
  uri = "docker://docker.io/heroku/buildpack-java@sha256:c4547a2e355bfc8bc883916d1d3bcc453ff065905ae9814b0ca9273da450e7e2"

[[buildpacks]]
  id = "heroku/nodejs"
  uri = "docker://docker.io/heroku/buildpack-nodejs@sha256:64f62ffec44e29fdc85f31980fa7967cc720b81b04e6763ec7c3b005c13cb8c7"

[[buildpacks]]
  id = "heroku/php"
  uri = "docker://docker.io/heroku/buildpack-php@sha256:c1d909af998c23a79ffb3c70553e825f37eddc3a415511fc9e92e95f856e263d"

[[buildpacks]]
  id = "heroku/procfile"
  uri = "docker://docker.io/heroku/buildpack-procfile@sha256:6ace71a217485b2932c8e4a311a502b68fde1a3c81e23576e29a9a1dba9a489a"

[[buildpacks]]
  id = "heroku/python"
  uri = "docker://docker.io/heroku/buildpack-python@sha256:87284b2a07e3dfe98894c4f90aff746ac7ee930e9e71aa6c6c29105b93d334d4"

[[buildpacks]]
  id = "heroku/ruby"
  uri = "docker://docker.io/heroku/buildpack-ruby@sha256:e8a0d07b5eacc5c036a8a2267251e5de53cbb7d431d2d3d15194e1d80b722b24"

[[buildpacks]]
  id = "heroku/scala"
  uri = "docker://docker.io/heroku/buildpack-scala@sha256:918963bbf9ae7140ed746b60ade469f5baa0c2853ffc0e30c84d6cccbfda581e"

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "heroku/python"
    version = "2.8.1"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "heroku/nodejs"
    version = "5.3.0"
    optional = true
  [[order.group]]
    id = "heroku/jvm"
    version = "7.0.7"
    optional = true
  [[order.group]]
    id = "heroku/ruby"
    version = "12.2.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "heroku/java"
    version = "7.0.7"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "heroku/scala"
    version = "7.0.7"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "heroku/go"
    version = "2.1.6"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "heroku/php"
    version = "1.2.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "heroku/dotnet"
    version = "0.12.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

# this group is intentionally at the end, because projects in other languages often have e.g. a package.json
[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "heroku/nodejs"
    version = "5.3.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true
