description = "Ubuntu 24.04 AMD64+ARM64 base image with buildpacks for .NET, Go, Java, Node.js, PHP, Python, Ruby & Scala."

[stack]
id = "heroku-24"
build-image = "docker.io/heroku/heroku:24-build"
run-image = "docker.io/heroku/heroku:24"
run-image-mirrors = ["public.ecr.aws/heroku/heroku:24"]

[lifecycle]
version = "0.20.18"

[build]
image = "docker.io/heroku/heroku:24-build"

[run]
[[run.images]]
image = "docker.io/heroku/heroku:24"
mirrors = ["public.ecr.aws/heroku/heroku:24"]

[[buildpacks]]
  id = "heroku/deb-packages"
  uri = "docker://docker.io/heroku/buildpack-deb-packages@sha256:7543930b6d062fbc326e913f03a06b2257c9605eda6bf469389a01fa1db881d1"

[[buildpacks]]
  id = "heroku/dotnet"
  uri = "docker://docker.io/heroku/buildpack-dotnet@sha256:d275d11048a7f3c85245573da890c0bf06c0ffcdaa2cde69fa17317d30ca643c"

[[buildpacks]]
  id = "heroku/go"
  uri = "docker://docker.io/heroku/buildpack-go@sha256:1d09e224f5197653e260c0195139d93e0cc0fc19cc290958b57ae8573f1169eb"

[[buildpacks]]
  id = "heroku/java"
  uri = "docker://docker.io/heroku/buildpack-java@sha256:80e083769e69061e20715d8dd91daa75c0cc42527e735179bfefbdf68ee13eec"

[[buildpacks]]
  id = "heroku/nodejs"
  uri = "docker://docker.io/heroku/buildpack-nodejs@sha256:ca334c24b8b64788072638bbe811f0628b21a1894f8e25666398a6a378d23718"

[[buildpacks]]
  id = "heroku/php"
  uri = "docker://docker.io/heroku/buildpack-php@sha256:d0a8405da01db879beb9b9d1d9c66cfc5e6bf9c7ed06c746a0bf50d4db50bbae"

[[buildpacks]]
  id = "heroku/procfile"
  uri = "docker://docker.io/heroku/buildpack-procfile@sha256:6ace71a217485b2932c8e4a311a502b68fde1a3c81e23576e29a9a1dba9a489a"

[[buildpacks]]
  id = "heroku/python"
  uri = "docker://docker.io/heroku/buildpack-python@sha256:e54dba0cc03c21a5d983e3732f6a07ec1fcba20b680b93d877ef23a9c1967f89"

[[buildpacks]]
  id = "heroku/ruby"
  uri = "docker://docker.io/heroku/buildpack-ruby@sha256:9e3cf59d698c39713bb27d205353b05fba45ccfd0271cc02a5de1ac073b3ced8"

[[buildpacks]]
  id = "heroku/scala"
  uri = "docker://docker.io/heroku/buildpack-scala@sha256:c6a89ee830645a0ab49db9a78bf6b8102979ca5e9e7fb5b38b748c5a3c9ae164"

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "heroku/python"
    version = "2.7.3"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "heroku/nodejs"
    version = "5.2.6"
    optional = true
  [[order.group]]
    id = "heroku/jvm"
    version = "7.0.6"
    optional = true
  [[order.group]]
    id = "heroku/ruby"
    version = "12.1.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "heroku/java"
    version = "7.0.6"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "heroku/scala"
    version = "7.0.6"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "heroku/go"
    version = "2.1.5"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "heroku/php"
    version = "1.1.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "heroku/dotnet"
    version = "0.11.1"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true

# this group is intentionally at the end, because projects in other languages often have e.g. a package.json
[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "heroku/nodejs"
    version = "5.2.6"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.2.1"
    optional = true
