description = "Ubuntu 22.04 AMD64 base image with buildpacks for .NET, Go, Java, Node.js, PHP, Python, Ruby & Scala."

[stack]
id = "heroku-22"
build-image = "docker.io/heroku/heroku:22-cnb-build"
run-image = "docker.io/heroku/heroku:22-cnb"
run-image-mirrors = ["public.ecr.aws/heroku/heroku:22-cnb"]

[build]
image = "docker.io/heroku/heroku:22-cnb-build"

[run]
[[run.images]]
image = "docker.io/heroku/heroku:22-cnb"
mirrors = ["public.ecr.aws/heroku/heroku:22-cnb"]

[lifecycle]
version = "0.20.5"

[[buildpacks]]
  id = "heroku/deb-packages"
  uri = "docker://docker.io/heroku/buildpack-deb-packages@sha256:f2c0162a2fb5f9cb7e6b3c5c59907089483a328824c9323a85cc67d47ab9198c"

[[buildpacks]]
  id = "heroku/dotnet"
  uri = "docker://docker.io/heroku/buildpack-dotnet@sha256:b413c39b968e1e69ed4a0d724619575ec57f942b5ebfd6418426e95e0847852f"

[[buildpacks]]
  id = "heroku/go"
  uri = "docker://docker.io/heroku/buildpack-go@sha256:c1192a4e9019ba3693ebf62004a5863f9f04f5d85963db1de9e983cd41afc261"

[[buildpacks]]
  id = "heroku/java"
  uri = "docker://docker.io/heroku/buildpack-java@sha256:d0fb1b34b7b02276cf3b265b498ee1eaf7be3bf84511c7f1b9bc231820440292"

[[buildpacks]]
  id = "heroku/nodejs"
  uri = "docker://docker.io/heroku/buildpack-nodejs@sha256:a9f042b165ac312cc2c1ab4232aa62a2b5cdcd4665270813669f4849a9c2ec0e"

[[buildpacks]]
  id = "heroku/php"
  uri = "docker://docker.io/heroku/buildpack-php@sha256:21c6e7c49c6a62167ff1f8c2d1aaebdde99e278d677ecb04ec404a1f66065d93"

[[buildpacks]]
  id = "heroku/procfile"
  uri = "docker://docker.io/heroku/buildpack-procfile@sha256:1ef903ca2474595eb35f24e2506c5bbafe81757ea298d225c0e133f64df7b75e"

[[buildpacks]]
  id = "heroku/python"
  uri = "docker://docker.io/heroku/buildpack-python@sha256:4eeebd944da9a654f83ff994a626ab0ad60838870de12312aeab4e2e531b529c"

[[buildpacks]]
  id = "heroku/ruby"
  uri = "docker://docker.io/heroku/buildpack-ruby@sha256:3cd1cae3138fe93051e101c5677b62eb0c675e739b132283b5b5b5c5add9c8aa"

[[buildpacks]]
  id = "heroku/scala"
  uri = "docker://docker.io/heroku/buildpack-scala@sha256:52a5e80f06f7a312cf619eb14b091adbdb56af9ec19ffab366952faa872fef7f"

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.0.3"
    optional = true
  [[order.group]]
    id = "heroku/python"
    version = "0.23.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.0.0"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.0.3"
    optional = true
  [[order.group]]
    id = "heroku/nodejs-engine"
    version = "3.4.3"
    optional = true
  [[order.group]]
    id = "heroku/nodejs-yarn"
    version = "3.4.3"
    optional = true
  [[order.group]]
    id = "heroku/jvm"
    version = "6.0.4"
    optional = true
  [[order.group]]
    id = "heroku/ruby"
    version = "5.0.1"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.0.0"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.0.3"
    optional = true
  [[order.group]]
    id = "heroku/java"
    version = "6.0.4"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.0.0"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.0.3"
    optional = true
  [[order.group]]
    id = "heroku/scala"
    version = "6.0.4"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.0.0"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.0.3"
    optional = true
  [[order.group]]
    id = "heroku/go"
    version = "0.5.2"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.0.0"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.0.3"
    optional = true
  [[order.group]]
    id = "heroku/php"
    version = "0.2.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.0.0"
    optional = true

[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.0.3"
    optional = true
  [[order.group]]
    id = "heroku/dotnet"
    version = "0.1.10"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.0.0"
    optional = true

# this group is intentionally at the end, because projects in other languages often have e.g. a package.json
[[order]]
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.0.3"
    optional = true
  [[order.group]]
    id = "heroku/nodejs"
    version = "3.4.3"
  [[order.group]]
    id = "heroku/procfile"
    version = "4.0.0"
    optional = true
