description = "Base builder for Heroku-20 stack, based on ubuntu:20.04 base image"

[stack]
id = "heroku-20"
build-image = "heroku/heroku:20-cnb-build"
run-image = "heroku/heroku:20-cnb"

[lifecycle]
version = "0.18.1"

[[buildpacks]]
  id = "heroku/builder-eol-warning"
  uri = "./end-of-life-buildpack/"

[[buildpacks]]
  id = "heroku/go"
  uri = "https://cnb-shim.herokuapp.com/v1/heroku/go?version=0.0.0&name=Heroku+Go+(Shimmed)"

[[buildpacks]]
  id = "heroku/gradle"
  uri = "https://cnb-shim.herokuapp.com/v1/heroku/gradle?version=0.0.0&name=Heroku+Gradle+(Shimmed)"

[[buildpacks]]
  id = "heroku/java"
  uri = "docker://docker.io/heroku/buildpack-java@sha256:afaf284205f547c4453968f9872b5d44d94154680d4799648816681597b742f3"

[[buildpacks]]
  id = "heroku/nodejs"
  uri = "docker://docker.io/heroku/buildpack-nodejs@sha256:6d89fd44de926063537a0628c623bf27838af0bc0cc31d9ac017d2e81a67144c"

[[buildpacks]]
  id = "heroku/php"
  uri = "https://cnb-shim.herokuapp.com/v1/heroku/php?version=0.0.0&name=Heroku+PHP+(Shimmed)"

[[buildpacks]]
  id = "heroku/procfile"
  uri = "docker://docker.io/heroku/procfile-cnb@sha256:2549eee29b64c5dc063a3966c65baf1f264389645f54d416a320aa9e20b09592"

[[buildpacks]]
  id = "heroku/python"
  uri = "https://cnb-shim.herokuapp.com/v1/heroku/python?version=0.0.0&name=Heroku+Python+(Shimmed)"

[[buildpacks]]
  id = "heroku/ruby"
  uri = "https://cnb-shim.herokuapp.com/v1/heroku/ruby?version=0.0.0&name=Heroku+Ruby+(Shimmed)"

[[buildpacks]]
  id = "heroku/scala"
  uri = "https://cnb-shim.herokuapp.com/v1/heroku/scala?version=0.0.0&name=Heroku+Scala+(Shimmed)"

[[order]]
  [[order.group]]
    id = "heroku/ruby"
    version = "0.0.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true
  [[order.group]]
    id = "heroku/builder-eol-warning"
    version = "1.0.0"

[[order]]
  [[order.group]]
    id = "heroku/python"
    version = "0.0.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true
  [[order.group]]
    id = "heroku/builder-eol-warning"
    version = "1.0.0"

[[order]]
  [[order.group]]
    id = "heroku/scala"
    version = "0.0.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true
  [[order.group]]
    id = "heroku/builder-eol-warning"
    version = "1.0.0"

[[order]]
  [[order.group]]
    id = "heroku/php"
    version = "0.0.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true
  [[order.group]]
    id = "heroku/builder-eol-warning"
    version = "1.0.0"

[[order]]
  [[order.group]]
    id = "heroku/go"
    version = "0.0.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true
  [[order.group]]
    id = "heroku/builder-eol-warning"
    version = "1.0.0"

[[order]]
  [[order.group]]
    id = "heroku/nodejs"
    version = "2.3.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true
  [[order.group]]
    id = "heroku/builder-eol-warning"
    version = "1.0.0"

[[order]]
  [[order.group]]
    id = "heroku/java"
    version = "4.0.0"
  [[order.group]]
    id = "heroku/procfile"
    version = "2.0.2"
    optional = true
  [[order.group]]
    id = "heroku/builder-eol-warning"
    version = "1.0.0"
